#maze-canvas {
  border: 8px solid #AEE5D8;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  display: flex;
}

* {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #E7E5E5;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.container{
  display: flex;
  justify-content: space-around;
}

.instructions {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 35px;
  background-color: #AEE5D8;
  margin-bottom: 15px;
  padding-top: 5px;
}

.explain {
  display: flex;
  background-color: #fff;
  justify-content: flex-start;
  padding: 10px;
  height: 10%;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid black;
  border-radius: 2px;
}

.explain:hover {
  background-color: #AEE5D8;
  cursor: pointer;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 530px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	background: #fff;
}

.close {
    background: black;
    color: #7BE0AD;
    line-height: 25px;
    position: absolute;
    left: 15px;
    text-align: center;
    top: 15px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    border-radius: 20px;
}

.close:hover {
    background: #AEE5D8;
    color: black;
}

.about {
    margin: 35px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about > p {
  display: flex;
  align-self: center;
}

/*.break-below {
  border-bottom: 1px solid #eee;
}*/
